.hidden {
  display: none;
}

img {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#left {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
}

#right {
  width: 50%;
  margin-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  color: white;
}

#clock {
  color: white;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 50px;
}

li {
  color: white;
}

#name {
  /* font-size: 100px; */
  background: none;
  padding: 0;
  border: 0;
  border-bottom: 1px white;
  width: 300px;
  height: 50px;
}

#login {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 0;
  width: 80px;
  height: 30px;
  /* border-color: aliceblue; */
}

#weather {
  display: block;
  margin-bottom: 100px;
}

#todo {
  background: none;
  padding: 0;
  border: 0;
  width: 500px;
  height: 50px;
}

#todo::placeholder {
  font-size: 30px;
}

#name::placeholder,
#todo::placeholder {
  color: white;
}

#name::placeholder {
  font-size: 30px;
  align-items: center;
}

#quote {
  color: white;
  /* margin-top: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

#weather {
  color: white;
}

button {
  background-color: none;
  color: black;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 0;
  padding: 0;
  margin-left: 10px;
}
